{% set pageTitle = pageTitle is not defined ? '' : ' | '~pageTitle %}
{% set pageDescription = pageDescription is not defined ? 'My site' : pageDescription %}
<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta charset="utf-8">
    <title>{{ settings['site_name'] }}{{ pageTitle }}</title>
    <meta name="description" content="{{ pageDescription }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="{{ settings['site_color'] }}">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i|Muli:400,600&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="/css/5ec.min.css">
    <!--[if lt IE 9]>
    <link rel="stylesheet" href="/css/5ec-ie8.css">
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script>window.html5 || document.write('<script src="/js/vendor/html5shiv.min.js"><\/script>')</script>
    <![endif]-->
</head>
<body class="{{ bodyClass }}">
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<section class="mainHeader">
    <div class="mainHeader__bg"></div>
    <div class="container">
        <div class="mainHeader__brand"></div>
        <div class="mainHeader__title">{{ settings['site_name'] }}</div>
        <div class="mainHeader__lang">
            <a href="{{ routes['home'].path }}">EN</a> | <a href="{{ routes['glowna'].path }}">PL</a>
        </div>
    </div>

</section>

<section class="mainNavigation">
    <nav class="container" id="mainNavigation">
        {% include 'navigation.html.twig' with {'menu':menu} %}
    </nav>
</section>

<section id="mainContentTitle">
        {% block contentTitle %}{% endblock %}
</section>

<section class="mainContent">
    <div id="mainContentLoader" class="isHidden spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
    <div class="container" id="mainContent">
        {% block content %}{% endblock %}
    </div>
</section>

<section class="mainFooter">
    <div class="container">
        {% include 'navigation.html.twig' with {'menu':menu} %}
    </div>
</section>
<section class="mainCopyright">
    <div class="container">
        &copy; {{ settings['copyright'] }}
    </div>
</section>

<script src="/js/drawshapes.js"></script>
<script>bodyIsLoaded = true;</script>
<script src="/js/5ec.js"></script>

<script class="mainScripts">
    {% block scripts %}{% endblock %}
</script>


</body>
</html>
