{% extends template %}
{% block content %}
    <h1>{{ t.contact }}</h1>
    <hr>
    <p class="text--small">
        By social media
    </p>
    <p>FB, Twitter...</p>
    <hr>
    <h2>{{ t.contact_form }}</h2>
    <form action="{{ root }}/contact/send" id="mainContactForm">
        <div class="row" id="mainContactFormMessage"></div>
        <div class="row row-d-o1">
            <div class="col-t-33 col-t-pr1">
                <label for="email">{{ t.email }}:</label>
            </div>
            <div class="col-t-66">
                <input type="text" name="email" placeholder="your e-mail address">
            </div>
        </div>
        <div class="row row-d-o1">
            <div class="col-t-33 col-t-pr1">
                <label for="email">{{ t.message }}:</label>
            </div>
            <div class="col-t-66">
                <textarea name="message" title="acb" id="" cols="30" rows="10" placeholder="enter your message"></textarea>
            </div>
        </div>
        <div class="row row-d-o1">
            <div class="col-t-33 col-t-pr1">
                &nbsp;
            </div>
            <div class="col-t-66 text--right">
                <input class="btn btn--blue" type="submit" value="Send">
            </div>
        </div>



    </form>
{% endblock %}