<ul>
{% for item in menu %}
    {% if item is iterable %}
        {% for key,item in item %}
            <li class="{{ (currentPath == routes[key].path) ? " active" : ""  }}">
                {% if routes[key].blind == 'true' %}
                    <span>{{ routes[key].name }}</span>
                {% else %}
                    <a href="{{ routes[key].path }}" data-ajax="true" title="{{ routes[key].name }}">{{ routes[key].name }}</a>
                {% endif %}
                <ul>
                {% for item in item %}
                    <li class="{{ (currentPath == routes[item].path) ? " active" : ""  }}">
                        <a href="{{ routes[item].path }}" data-ajax="true" title="{{ routes[item].name }}">{{ routes[item].name }}</a>
                    </li>
                {% endfor %}
                </ul>
            </li>
        {% endfor %}
    {% else %}
        <li class="{{ (currentPath == routes[item].path) ? " active" : ""  }}">
            {% if routes[item].blind == 'true' %}
                <span>{{ routes[item].name }}</span>
            {% else %}
                <a href="{{ routes[item].path }}" data-ajax="true" title="{{ routes[item].name }}">{{ routes[item].name }}</a>
            {% endif %}
        </li>
    {% endif %}
    </li>
{% endfor %}
</ul>