<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ settings['site_name'] }} | Back Office</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#222f3c">
    <link rel="apple-touch-icon" href="{{ root }}/images/apple-touch-icon.png">
    <link rel="shortcut icon" href="{{ root }}/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="{{ root }}/_bo/css/5ec.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lora|Muli:400,700&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="{{ settings['fontawesome_cdn'] ? settings['fontawesome_cdn'] : 'https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css' }}">

    {% block head %}{% endblock %}
</head>
<body>

<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<aside class="aside">
    <div class="aside__brand">
        <h1 class="aside__brandTitle"><a href="index.php">{{ settings['site_name'] }}</a></h1>
        <p class="aside__brandSubTitle">Back Office</p>
    </div>
    <nav class="aside__nav">
        <ul>
        <li><a href="index.php" class="aside__navItem {{ menuPage == 'home' ? 'active' : '' }}"><span class="aside__navIco"><i class="fa fa-home" aria-hidden="true"></i></span> Home</a></li>
        <li><a href="pages.php" class="aside__navItem {{ menuPage == 'pages' ? 'active' : '' }}"><span class="aside__navIco"><i class="fa fa-files-o" aria-hidden="true"></i></span> Pages</a></li>
        {% if userRole == 'admin' %}
            <li><a href="routing.php" class="aside__navItem {{ menuPage == 'routing' ? 'active' : '' }}"><span class="aside__navIco"><i class="fa fa-random" aria-hidden="true"></i></span> Routing</a></li>
            <li><a href="menus.php" class="aside__navItem {{ menuPage == 'menus' ? 'active' : '' }}"><span class="aside__navIco"><i class="fa fa-sitemap" aria-hidden="true"></i></span> Menus</a></li>
            <li><a href="users.php" class="aside__navItem {{ menuPage == 'users' ? 'active' : '' }}"><span class="aside__navIco"><i class="fa fa-users" aria-hidden="true"></i></span> Users</a></li>
        {% endif %}
        <li>
            <label for="menu_blog" class="aside__navItem {{ menuPage == 'blog.p' or menuPage == 'blog.c' or menuPage == 'blog.s' ? 'active' : '' }}"><span class="aside__navIco"><i class="fa fa-pencil" aria-hidden="true"></i></span> Blog</label>
            <input name="menu_submenu" type="radio" id="menu_blog">
            <ul class="aside__navSubMenu">
                <li><a href="blog.posts.php" class="aside__navSubItem {{ menuPage == 'blog.p' ? 'active' : '' }}"><span class="aside__navIco"><i class="fa fa-sticky-note-o" aria-hidden="true"></i></span> Posts</a></li>
                <li><a href="blog.categories.php" class="aside__navSubItem {{ menuPage == 'blog.c' ? 'active' : '' }}"><span class="aside__navIco"><i class="fa fa-list-ul" aria-hidden="true"></i></span> Categories</a></li>
                <li><a href="blog.config.php" class="aside__navSubItem {{ menuPage == 'blog.s' ? 'active' : '' }}"><span class="aside__navIco"><i class="fa fa-cog" aria-hidden="true"></i></span> Configuration</a></li>
            </ul>
        </li>
        <li>
            <label for="menu_files" class="aside__navItem {{ menuPage == 'files.m' or menuPage == 'files.u' or menuPage == 'files.c' ? 'active' : '' }}"><span class="aside__navIco"><i class="fa fa-folder" aria-hidden="true"></i></span> Files manager</label>
            <input name="menu_submenu" type="radio" id="menu_files">
            <ul class="aside__navSubMenu">
                <li><a href="files.uploader.php" class="aside__navSubItem {{ menuPage == 'files.u' ? 'active' : '' }}"><span class="aside__navIco"><i class="fa fa-cloud-upload" aria-hidden="true"></i></span> Upload</a></li>
                <li><a href="files.manager.php" class="aside__navSubItem {{ menuPage == 'files.m' ? 'active' : '' }}"><span class="aside__navIco"><i class="fa fa-folder-open" aria-hidden="true"></i></span> Manager</a></li>
                <li><a href="files.config.php" class="aside__navSubItem {{ menuPage == 'files.c' ? 'active' : '' }}"><span class="aside__navIco"><i class="fa fa-cog" aria-hidden="true"></i></span> Configuration</a></li>
            </ul>
        </li>
        <li>
            <label for="menu_internationalization" class="aside__navItem {{ menuPage == 'inter.l' or menuPage == 'inter.t' ? 'active' : '' }}"><span class="aside__navIco"><i class="fa fa-language" aria-hidden="true"></i></span> Internationalization</label>
            <input name="menu_submenu" type="radio" id="menu_internationalization">
            <ul class="aside__navSubMenu">
                <li><a href="languages.php" class="aside__navSubItem {{ menuPage == 'inter.l' ? 'active' : '' }}"><span class="aside__navIco"><i class="fa fa-flag" aria-hidden="true"></i></span> Languages</a></li>
                <li><a href="translations.php" class="aside__navSubItem {{ menuPage == 'inter.t' ? 'active' : '' }}"><span class="aside__navIco"><i class="fa fa-font" aria-hidden="true"></i></span> Translations</a></li>
            </ul>
        </li>
        {% if userRole == 'admin' %}
            <li><a href="settings.php" class="aside__navItem {{ menuPage == 'settings' ? 'active' : '' }}"><span class="aside__navIco"><i class="fa fa-cogs" aria-hidden="true"></i></span> Configuration</a></li>
        {% endif %}
        </ul>
    </nav>
</aside>
<header class="header">
    <div class="header__user">
        <span class="header__userRole">{{ userRole }}</span><a href="{{ root }}/_bo/logout.php" class="btn btn--red"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
    </div>
    <div class="header__front">
        <a href="{{ root ? root : '/' }}" class="btn btn--azure" target="_blank"><i class="fa fa-share" aria-hidden="true"></i> <span class="header__frontTxt">Go to homepage</span></a>
    </div>
</header>
<section class="content {{ contentClass }}">
    {% block content %}{% endblock %}
</section>

<div class="msgWindow"><span class="msgWindowClose"></span><div class="msgWindowTitle"></div><div class="msgWindowContent"></div></div>
<script>var _root_ = "{{ root }}";</script>
<script src="{{ root }}/_bo/js/pageconsole.min.js"></script>
<script src="{{ root }}/_bo/js/5ec.js"></script>
<script>var pageconsole = new Pageconsole()</script>
{% block scripts %}
{% endblock %}

</body>
</html>