{% extends "base.html.twig" %}
{% block content %}
    <h1>Blog posts <a href="blog.post.edit.php" class="btn btn--azure btn--right "><i class="fa fa-plus" aria-hidden="true"></i> Add</a></h1>
    <table>
        <colgroup>
            <col style="width: 20px">
            <col>
            <col>
        </colgroup>
        <thead>
        <tr>
            <th>#</th>
            <th>Post</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for post in posts.results %}
            <tr>

                <td>{{ loop.index+(articlesPerPage*(currentPage-1)) }}.</td>
                <td><a href="blog.post.edit.php?postId={{ post.id }}">{{ post.title }}</a></td>
                <td>
                    <a href="blog.post.edit.php?postId={{ post.id }}" class="btn btn--green btn--small">Edit</a>
                    <a href="" data-action="delete" class="btn btn--red btn--small" data-item="{{ post.id }}">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td colspan="3"></td>
        </tr>
        </tfoot>
    </table>

    <div class="pagination">
        {% for page in posts.paginator %}<a href="/_bo/blog.posts.php?page={{ page.page }}" class="{{ currentPage == page.page ? 'active' : '' }}">{{ page.page }}</a>{% endfor %}
    </div>
{% endblock %}



{% block scripts %}
    <script>
        document.body.addEventListener("click",function(e){
            if(e.target.dataset.action == 'delete'){
                if(confirm("Are you sure?")){
                    atomic.post('blog.post.delete.php','postId='+e.target.dataset.item)
                        .success(function(data){
                            if(data.status == 'success')
                                showMessage('success','Done','Data has been saved');
                            if(data.status == 'error')
                                showMessage('error','Error','Data not saved');
                        })
                        .error(function(data){
                            showMessage('error','Error','Server error');
                        });
                } else {
                    location.reload();
                }
            }
        },false);
    </script>
{% endblock %}