{% extends "base.html.twig" %}
{% block head %}
    <script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey={{ settings.tinymce_api_key }}"></script>
{% endblock %}
{% block content %}
    <h1>Post</h1>
    <form action="" id="postForm">
        <div class="page" style="padding-bottom: 350px;">
            <div class="page__block">
                <label class="page__blockLabel" for="post_id">Id</label>
                <div class="page__blockInput">
                    <input readonly disabled type="text" name="post_id" value="{{ post.id }}" id="post_id">
                </div>
            </div>
            <div class="page__block">
                <label class="page__blockLabel" for="post_title">Title</label>
                <div class="page__blockInput">
                    <input type="text" name="post_title" value="{{ post.title }}" id="post_title">
                </div>
            </div>
            <div class="page__block">
                <label class="page__blockLabel" for="post_description">Description</label>
                <div class="page__blockInput">
                    <input type="text" name="post_description" value="{{ post.description }}" id="post_description">
                </div>
            </div>
            <div class="page__block">
                <label class="page__blockLabel" for="post_slug">Slug</label>
                <div class="page__blockInput">
                    <input type="text" name="post_slug" value="{{ post.slug }}" id="post_slug">
                </div>
            </div>
            <div class="page__block">
                <label class="page__blockLabel" for="post_title_color">Title color</label>
                <div class="page__blockInput">
                    <input type="color" id="post_title_color" value="{{ post.title_color ? post.title_color : '#ffffff' }}" name="post_title_color">
                </div>
            </div>
            <div class="page__block">
                <label class="page__blockLabel" for="post_publication_date">Publication date</label>
                <div class="page__blockInput">
                    <input class="input--narrow" type="datetime" id="post_publication_date" value="{{ post.publication_date ? post.publication_date : now|date("Y-m-d H:i")}}" name="post_publication_date">
                </div>
            </div>
            <div class="page__block">
                <label class="page__blockLabel" for="post_category_id">Category</label>
                <div class="page__blockInput">
                    <select name="post_category_id" id="post_category_id">
                        {% for key,category in categories %}
                            <option value="{{ key }}" {{ key==post.category_id ? 'selected' : '' }}>{{ category.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="page__block">
                <label class="page__blockLabel" for="post_intro">Intro</label>
                <div class="page__blockInput">
                    <textarea type="text" name="post_intro" id="post_intro">{{ post.intro }}</textarea>
                </div>
            </div>
            <div class="page__block">
                <label class="page__blockLabel" for="post_content">Content</label>
                <div class="page__blockInput">
                    <textarea type="text" class="tinymce" name="post_content" id="post_content">{{ post.content }}</textarea>
                </div>
            </div>
            <div class="page__block">
                <label class="page__blockLabel" for="post_after_content">Content</label>
                <div class="page__blockInput">
                    <textarea type="text" name="post_after_content" id="post_after_content">{{ post.after_content }}</textarea>
                </div>
            </div>
            <div class="page__block">
                <label class="page__blockLabel" for="post_intro_image">Intro image</label>
                <div class="page__blockInput">
                    <input class="filesManager" type="text" name="post_intro_image" value="{{ post.intro_image }}" id="post_intro_image">
                </div>
            </div>
            <div class="page__block">
                <label class="page__blockLabel" for="post_main_image">Main image</label>
                <div class="page__blockInput">
                    <input class="filesManager" type="text" name="post_main_image" value="{{ post.main_image }}" id="post_main_image">
                </div>
            </div>
            <div class="page__block">
                <a href="" class="btn btn--green btn--right" data-action="save"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</a>
            </div>
        </div>
    </form>


{% endblock %}

{% block scripts %}
<script>
    // TINY MCE
    var loadTinyMCE = function(){
        tinymce.init({
            selector:'textarea.tinymce',
            setup: function (editor) {
                editor.on('change', function () {
                    tinymce.triggerSave();
                });
            },
            height : "300",
            force_br_newlines : false,
            force_p_newlines : true,
            forced_root_block : '',
            plugins: "code textcolor lists advlist image link hr",
            toolbar: "undo redo | bold italic underline alignleft aligncenter alignright | bullist numlist hr | forecolor | styleselect fontsizeselect subscript superscript | bullist numlist outdent indent | image link",
            image_caption: true,
            image_prepend_url: _root_+"/images/pages/",
            textcolor_map: [
                "0DC3CA", "Niebieski",
                "4D4F4F", "Szary",
                "FD0864", "Czerwony",
                "8ABE2B", "Zielony"
            ],
            style_formats: [
                { title: 'Heaer 1', block: 'h1', classes: 'title title--1'},
                { title: 'Heaer 2', block: 'h2', classes: 'title title--2'},
                { title: 'Heaer 3', block: 'h3', classes: 'title title--3'},
                { title: 'Paragraph', block: 'p'},
                { title: 'Blockquotes', items: [
                    { title: 'Citation block 1 qm', block: 'blockquote', wrapper: true},
                    { title: 'Citation block 1', block: 'blockquote', wrapper: true, classes: 'no-qm'},
                    { title: 'Citation block 2', selector: 'blockquote', classes: 'citation'},
                    { title: 'Author', selector: 'blockquote p', classes: 'quote__author'},
                    { title: 'Link', selector: 'blockquote p', classes: 'quote__url'}
                ]},
                { title: 'Text small', selector: 'p, ol, ul, li, span, div', classes: 'text--small'}
            ]
        });
    };
    loadTinyMCE();

    var postForm = document.getElementById('postForm');
    postForm.post_slug.addEventListener('keyup',function(e){
        e.target.value = validateInput(e.target,/^[a-z]$/i);
    },false);

    var saveData = function(e){
        if(e.target.dataset.action == 'save' || e.target.parentNode.dataset.action == 'save'){
            e.preventDefault();
            var data = serializeFormData(postForm);
            atomic.post('blog.post.save.php',data)
                .success(function(data){
                    if(data.status == 'success')
                        showMessage('success','Done',data.message);
                    if(data.status == 'error')
                        showMessage('error','Error',data.message);
                })
                .error(function(data){
                    showMessage('error','Error','Server error');
                })
        }
    };
    document.body.addEventListener("click",saveData,false);


    var inputsFilesManager = postForm.getElementsByClassName('filesManager');
    var getFilesManager = function(e){
        var iframeWrapper = document.createElement('div');
        iframeWrapper.id ='iframeWrapper';
        iframeWrapper.dataset.parentinput = e.target.name;
        var iframe = document.createElement('iframe');
        iframe.src = _root_+'/_bo/files.manager.php?inner=true';
        iframeWrapper.appendChild(iframe);
        e.target.parentNode.appendChild(iframeWrapper);
    };
    [].forEach.call(inputsFilesManager,function(input){
        input.addEventListener('focus',getFilesManager,false);
    });
    document.body.addEventListener("click",function(e){
        if(!e.target.classList.contains('filesManager')){
            var fileManager = document.getElementById('iframeWrapper');
            if(fileManager) {
                fileManager.parentNode.removeChild(fileManager);
            }
        }
    },false);


</script>
{% endblock %}