{% extends "base.html.twig" %}
{% block content %}
    <h1>Languages</h1>
    <form action="" id="languagesForm">
        <table>
            <colgroup>
                <col style="width: 20px">
                <col style="width: 120px">
                <col>
                <col>
            </colgroup>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Code</th>
                    <th>Language name</th>
                    <th>Main page</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            {% for key,lang in languages %}
                <tr data-index="{{ loop.index }}">
                    <td></td>
                    <td><input class="input--narrow" type="text" name="r{{ loop.index }}-code" value="{{ key }}"></td>
                    <td><input type="text" name="r{{ loop.index }}-name" value="{{ lang[0] }}"></td>
                    <td>
                        <select name="r{{ loop.index }}-home" id="">
                            {% for key,route in routes %}
                                <option value="{{ key }}" {{ key==lang[1] ? 'selected' : '' }}>{{ key }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <a href="" data-action="delete" class="btn btn--red btn--small" data-item="{{ key }}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2"></td>
                    <td colspan="3">
                        <a href="" class="btn btn--azure" data-action="add"><i class="fa fa-plus" data-action="add" aria-hidden="true"></i> Add</a>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"></td>
                    <td colspan="3">
                        <a href="" class="btn btn--green" data-action="save"><i data-action="save" class="fa fa-save" aria-hidden="true"></i> Save</a>
                    </td>
                </tr>
            </tfoot>
        </table>
    </form>




{% endblock %}

{% block scripts %}
    <script>
        document.body.addEventListener("click",function(e){
            if(e.target.dataset.action == 'delete'){
                if(confirm("Are you sure?")){
                    atomic.post('language.delete.php','code='+e.target.dataset.item)
                        .success(function(data){
                            if(data.status == 'success')
                                showMessage('success','Done','Data has been saved');
                            if(data.status == 'error')
                                showMessage('error','Error','Data not saved');
                        })
                        .error(function(data){
                            showMessage('error','Error','Server error');
                        });
                } else {
                    location.reload();
                }
            } else if(e.target.dataset.action == 'save'){
                e.preventDefault();
                var data = serializeFormData(document.getElementById('languagesForm'));
                atomic.post('languages.save.php',data)
                    .success(function(data){
                        if(data.status == 'success')
                            showMessage('success','Done','Data has been saved');
                        if(data.status == 'error')
                            showMessage('error','Error','Data not saved');
                    })
                    .error(function(data){
                        showMessage('error','Error','Server error');
                    });
            }
        },false);
    </script>
{% endblock %}