{% extends "base.html.twig" %}
{% set contentClass = 'content__menu' %}
{% block content %}
    <h1>Menu</h1>
    <form action="" id="menuForm">
    <input name="menu-name" type="text" value="{{ menuName }}">
    <select class="input--narrow" name="menu-lang" type="text" value="{{ menu.lang }}">
        {% for key,lang in languages  %}
            <option value="{{ key }}" {{ key == menu.lang ? 'selected' : '' }}>{{ lang[0] }}</option>
        {% endfor %}
    </select>
    <table>
        <colgroup>
            <col>
            <col>
            <col>
            <col style="width:60px">
            <col style="width:100px">
        </colgroup>
        <thead>
            <tr>
                <th>#</th>
                <th>Item</th>
                <th>Parent</th>
                <th>Order</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% if menu.items is null %}
            <tr data-index="1">
                <td>1.</td>
                <td>
                    <select name="r1-item" id="">
                        <option value="--" disabled selected>-- select --</option>
                        {% for key,route in routes %}
                            <option value="{{ key }}">{{ key }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select name="r1-parent" id="">
                        <option value="--" selected>-- main --</option>
                        {% for key,route in routes %}
                            <option value="{{ key }}">{{ key }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td><input name="r1-order" type="number" value=""></td>
                <td>
                    <a href="" class="btn btn--small btn--red" data-action="delete">Delete</a>
                </td>
            </tr>
        {% else %}
            {% set iterator = 1 %}
            {% for key,item in menu.items %}
                        <tr data-index="{{ iterator }}">
                            <td>{{ iterator }}.</td>
                            <td>
                                <select name="r{{ iterator }}-item" id="">
                                    <option value="--" disabled selected>-- select --</option>
                                    {% for k,r in routes %}
                                        <option value="{{ k }}" {{ k==key ? 'selected' : '' }}>{{ k }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td>
                                <select name="r{{ iterator }}-parent" id="">
                                    <option value="--" selected>--</option>
                                    {% for k,r in routes %}
                                        <option value="{{ k }}">{{ k }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td><input name="r{{ iterator }}-order" type="number" value="{{ item.order }}"></td>
                            <td>
                                <a href="" class="btn btn--small btn--red" data-action="delete">Delete</a>
                            </td>
                        </tr>
                        {% if item|length > 1 %}
                            {% for key2,item2 in item %}
                                {% if loop.index > 1 %}
                                    <tr data-index="{{ iterator }}">
                                        <td>{{ iterator }}.</td>
                                        <td>
                                            <select name="r{{ iterator }}-item" id="">
                                                <option value="--" disabled selected>-- select --</option>
                                                {% for k,r in routes %}
                                                    <option value="{{ k }}" {{ k==key2 ? 'selected' : '' }}>{{ k }}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td>
                                            <select name="r{{ iterator }}-parent" id="">
                                                <option value="--" selected>--</option>
                                                {% for k,r in routes %}
                                                    <option value="{{ k }}" {{ k==key ? 'selected' : '' }}>{{ k }}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td><input name="r{{ iterator }}-order" type="number" value="{{ item2.order }}"></td>
                                        <td>
                                            <a href="" class="btn btn--small btn--red" data-action="delete">Delete</a>
                                        </td>
                                    </tr>
                                {% endif %}
                                {% set iterator = iterator+1 %}
                            {% endfor %}
                        {% endif %}
                {% set iterator = iterator+1 %}
            {% endfor %}
        {% endif %}

        </tbody>
        <tfoot>
            <tr>
                <td colspan="4"></td>
                <td><a href="" class="btn btn--small btn--azure" data-action="add"><i class="fa fa-plus" aria-hidden="true"></i> Add</a></td>
            </tr>
            <tr>
                <td colspan="3"></td>
                <td colspan="2"><a href="" class="btn btn--green" data-action="save"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</a></td>
            </tr>
        </tfoot>
    </table>
    </form>


{% endblock %}

{% block scripts %}
    <script>
        var saveData = function(e){
            if(e.target.dataset.action == 'save' || e.target.parentNode.dataset.action == 'save'){
                e.preventDefault();
                var data = serializeFormData(document.getElementById('menuForm'));
                atomic.post('menu.save.php?menu={{ menuName }}',data)
                    .success(function(data){
                        if(data.status == 'success')
                            showMessage('success','Done','Data has been saved');
                        if(data.status == 'error')
                            showMessage('error','Error','Data not saved');
                    })
                    .error(function(data){
                        showMessage('error','Error','Server error');
                    })
            }
        };
        document.body.addEventListener("click",saveData,false);
    </script>
{% endblock %}