{% extends "base.html.twig" %}
{% block head %}
    <script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey={{ settings.tinyMCE_API_key }}"></script>
    <script>tinymce.init({ selector:'textarea.tinymce',setup: function (editor) {editor.on('change', function () {tinymce.triggerSave();});}});</script>
{% endblock %}

{% block content %}
    <h1>Page</h1>
    <form action="" id="pageForm">
        <div>
            <label for="pageName">Alias</label>
            <input type="text" name="pageName" value="{{ pageName }}" id="pageName">
        </div>
        <div>
            <label for="pageTitle">Title</label>
            <input type="text" name="pageTitle" value="{{ page.title }}" id="pageTitle">
        </div>
        <div>
            <label for="pageDescription">Description</label>
            <input type="text" name="pageDescription" value="{{ page.description }}" id="pageDescription">
        </div>
        <div>
            <label for="pageMenu">Menu</label>
            <select name="pageMenu" id="pageMenu">
                <option value="">-- select --</option>
                {% for key,menu in menus %}
                    <option value="{{ key }}" {{ key==page.menu ? 'selected' : '' }}>{{ key }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="pageContent">Content</label>
            <textarea class="tinymce" name="pageContent" id="pageContent">
                {{ page.content }}
            </textarea>
        </div>
        <div>
            <label for="pageScripts">Scripts</label>
            <textarea name="pageScripts" id="pageScripts">
                {{ page.scripts }}
            </textarea>
        </div>
        {% if pageName == '' %}
        <div id="addRouteBlock">
            <label for="addRoute"><input id="addRoute" type="checkbox" name="addRoute" value="true" checked>Add route</label>
            <table>
                <thead>
                    <tr>
                        <th>Route</th>
                        <th>Path</th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="text" name="routeRoute" value=""></td>
                        <td><input type="text" name="routePath" value=""></td>
                        <td><input type="text" name="routeName" value=""></td>
                    </tr>
                </tbody>
            </table>
        </div>
        {% endif %}
        <div>
            <button type="submit">Save</button>
        </div>
    </form>

{% endblock %}

{% block scripts %}
    <script>
        var pageForm = document.getElementById('pageForm');
        var routeBlock = document.getElementById('addRouteBlock');

        pageForm.pageName.addEventListener('keyup',function(e){
            e.target.value = validateInput(e.target,/^[a-z]$/i);
        },false);

        // FILL ROUTING
        if(routeBlock){
            pageForm.pageName.addEventListener('keyup',function(e){
                copyInput(e.target,pageForm.routeRoute);
            },false);
            pageForm.pageName.addEventListener('keyup',function(e){
                copyInput(e.target,pageForm.routePath,'/');
            },false);
            pageForm.pageTitle.addEventListener('keyup',function(e){
                copyInput(e.target,pageForm.routeName);
            },false);
        }

        // SEND FORM
        var pageName = '{{ pageName != '' ? '?page='~pageName : '' }}';
        pageForm.addEventListener('submit',function(e){
            e.preventDefault();
            var data = serializeFormData(e.target);
            atomic.post("page.save.php"+pageName ,data)
                .success(function(data){
                    if(data.status == 'success'){
                        showMessage('success','Done','Data has been saved');
                        pageName = '?page='+e.target.pageName.value;
                        routeBlock.parentNode.removeChild(routeBlock);
                    }
                    if(data.status == 'error')
                        showMessage('error','Error','Data not saved');
                })
                .error(function(data){
                    showMessage('error','Error','Server error');
                })
        },false);
    </script>
{% endblock %}