{% extends "base.html.twig" %}
{% block content %}
    <h1>Translations</h1>
    <table class="lang__translations">
        <colgroup>
            <col style="width: 20px">
            <col>
            <col>
        </colgroup>
        <thead>
        <tr>
            <th>#</th>
            <th>Translation</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for key,translate in translations %}
            <tr data-index="{{ loop.index }}">
                <td></td>
                <td colspan="2">
                    <form action="" id="form_{{ loop.index }}">
                        <div class="row">
                            <div class="col-t-25" style="padding-right:15px;">
                                <label for="input_{{ key }}">Key</label>
                                <input name="key" id="input_{{ key }}" class="" type="text" value="{{ key }}"/>
                                <input name="old_key" type="hidden" value="{{ key }}">
                            </div>
                            <div class="col-t-50">
                                <div class="lang__translations">
                                    {% for code,lang in languages  %}
                                        <div class="row">
                                            <div class="col-t-25">
                                                <label for="{{ loop.parent.loop.index }}_translate_{{ code }}">{{ lang[0] }} ({{ code }})</label>
                                            </div>
                                            <div class="col-t-75">
                                                <input name="{{ code }}" id="{{ loop.parent.loop.index }}_translate_{{ code }}" class="" type="text" value="{{ translate[code] }}"/>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-t-25 text--right">
                                <button data-action="save" type="submit" class="btn btn--green btn--small" data-item="{{ key }}">Save</button>
                                <a href="" data-action="delete" class="btn btn--red btn--small" data-item="{{ key }}">Delete</a>
                            </div>
                        </div>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td colspan="3"><a data-action="add" href="#" class="btn btn--azure" style="float:right"><i class="fa fa-plus" aria-hidden="true"></i> Add</a></td>
        </tr>
        </tfoot>
    </table>





{% endblock %}

{% block scripts %}
    <script>
        document.body.addEventListener("click",function(e){
            if(e.target.dataset.action == 'delete'){
                if(confirm("Are you sure?")){
                    atomic.post('translation.delete.php','key='+e.target.dataset.item)
                        .success(function(data){
                            if(data.status == 'success')
                                showMessage('success','Done','Data has been saved');
                            if(data.status == 'error')
                                showMessage('error','Error','Data not saved');
                        })
                        .error(function(data){
                            showMessage('error','Error','Server error');
                        });
                } else {
                    location.reload();
                }
            } else if(e.target.dataset.action == 'save') {
                e.preventDefault();
                var form = e.target.form;
                var data = serializeFormData(form);
                atomic.post('translation.save.php',data)
                    .success(function(data){
                        if(data.status == 'success'){
                            showMessage('success','Done','Data has been saved');
                            form.old_key.value = form.key.value;
                        }
                        if(data.status == 'error')
                            showMessage('error','Error','Data not saved');
                    })
                    .error(function(data){
                        showMessage('error','Error','Server error');
                    });
            }
        },false);
    </script>
{% endblock %}