{% extends "base.html.twig" %}
{% block content %}
    <h1>Users</h1>

    <table>
        <colgroup>
            <col style="width: 20px">
            <col>
            <col>
        </colgroup>
        <thead>
        <tr>
            <th>#</th>
            <th>User</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for key,user in users %}
            <tr {{ user.role == 'admin' ? 'class="admin"' : '' }}>
                <td>{{ loop.index }}.</td>
                <td><a href="user.edit.php?user={{ key }}">{{ key }}</a></td>
                <td>
                    <a href="user.edit.php?user={{ key }}" class="btn btn--green btn--small">Edit</a>
                    {% if user.role != 'admin' %}<a href="" class="btn btn--red btn--small" data-action="delete" data-item="{{ key }}">Delete</a>{% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2"></td>
                <td><a href="user.edit.php" class="btn btn--azure"><i class="fa fa-plus" aria-hidden="true"></i> Add</a></td>
            </tr>
        </tfoot>
    </table>





{% endblock %}

{% block scripts %}
    <script>
        document.body.addEventListener("click",function(e){
            if(e.target.dataset.action == 'delete'){
                if(confirm('Are you sure?')){
                    atomic.post('user.delete.php','user='+e.target.dataset.item)
                        .success(function(data){
                            if(data.status == 'success')
                                showMessage('success','Done','Data has been saved');
                            if(data.status == 'error')
                                showMessage('error','Error','Data not saved');
                        })
                        .error(function(data){
                            showMessage('error','Error','Server error');
                        });
                } else {
                    location.reload();
                }
            }
        },false);
    </script>
{% endblock %}