{% extends template %}
{% set bodyClass = 'blog' %}
{% block contentTitle %}
    <div class="mainContentTitle" style="background-image:url(/images/pages/{{ article.main_image }})">
        <div class="container text-center">
            <h1 class="title" style="color:{{ article.title_color }}">
                {{ article.title }}
            </h1>
        </div>
    </div>
{% endblock %}
{% block content %}

    <div class="blog__articleInfo">
        <span class="blog__articleInfoDate">
            <strong>{{ article.publication_date|date("d/m/Y") }}</strong>
            {{ article.publication_date|date("g:i") }}
        </span>
        <span class="blog__articleInfoCategory">
            {{ category.name }}
        </span>
    </div>
    <p>
        {{ article.content }}
    </p>
{% endblock %}