{% extends template %}
{% block header %}
    <h2>Artykuły</h2>
{% endblock %}
{% block content %}
    {% for article in articles %}
        <p>{{ article.creation_date }}</p>
    {% endfor %}

    {% for page in pagination  %}
        <a href="{{ page.url }}" data-ajax="true" title="{{ article.id }}" class="{{ currentPageNumber == page.page ? 'active' : '' }}">{{ page.page }}</a>
    {% endfor %}
{% endblock %}