{% extends template %}

{% set bodyClass = 'blog' %}
{% set pageDescription = article.description %}

{% block contentTitle %}
    <div class="mainContentTitle" style="background-image:url({{ root }}/images/pages/{{ article.main_image }})">
        <div class="container text-center">
            <h1 class="title" style="color:{{ article.title_color }}">
                {{ article.title }}
            </h1>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="blog__articleInfo row row-d-o1">
        <span class="blog__articleInfoDate">
            <strong>{{ article.publication_date|date("d/m/Y") }}</strong>
            {{ article.publication_date|date("g:i") }}
        </span>
        <span class="blog__articleInfoCategory">
            {{ category.name }}
        </span>
    </div>
    <div class="row row-d-o1">
        <p class="blog__intro">{{ article.intro }}</p>
        {{ article.content|raw }}
    </div>
{% endblock %}